[submodule "mlib_devel"]
	path = firmware/lib/mlib_devel
	url = git@github.com:realtimeradio/mlib_devel.git
[submodule "firmware/lib/rtr_casper_dsp_lib"]
	path = firmware/lib/rtr_casper_dsp_lib
	url = git@github.com:realtimeradio/rtr_casper_dsp_lib
[submodule "firmware/lib/adi_hdl"]
	path = firmware/lib/adi_hdl
	url = https://github.com/analogdevicesinc/hdl
[submodule "petalinux_adi/meta-adi"]
	path = petalinux_adi/meta-adi
	url = https://gitlab.com/dsa-2000/rcf/fsm/software/libs/meta-adi
[submodule "firmware/lib/oversampled-pfb"]
	path = firmware/lib/oversampled-pfb
	url = https://github.com/realtimeradio/oversampled-pfb
[submodule "software/lib/casperfpga"]
	path = software/lib/casperfpga
	url = https://github.com/realtimeradio/casperfpga
