// SPDX-License-Identifier: GPL-2.0
/*
 * Analog Devices AD9081-FMC-EBZ on Xilinx ZynqMP ZCU102 Rev 1.0
 * https://wiki.analog.com/resources/tools-software/linux-drivers/iio-mxfe/ad9081
 * https://wiki.analog.com/resources/eval/user-guides/ad9081_fmca_ebz/ad9081_fmca_ebz_hdl
 *
 * Copyright (C) 2019-2020 Analog Devices Inc.
 */

#include <dt-bindings/gpio/gpio.h>
//#include <dt-bindings/iio/frequency/hmc7044.h>
//#include <dt-bindings/iio/adc/adi,ad9081.h>

#ifndef _DT_BINDINGS_IIO_FREQUENCY_HMC7044_H_
#define _DT_BINDINGS_IIO_FREQUENCY_HMC7044_H_

/*
 * adi,pulse-generator-mode
 */
#define HMC7044_PULSE_GEN_LEVEL_SENSITIVE	0
#define HMC7044_PULSE_GEN_1_PULSE		1
#define HMC7044_PULSE_GEN_2_PULSE		2
#define HMC7044_PULSE_GEN_4_PULSE		3
#define HMC7044_PULSE_GEN_8_PULSE		4
#define HMC7044_PULSE_GEN_16_PULSE		5
#define HMC7044_PULSE_GEN_CONT_PULSE		7

/*
 * adi,driver-mode
 */
#define HMC7044_DRIVER_MODE_CML			0
#define HMC7044_DRIVER_MODE_LVPECL		1
#define HMC7044_DRIVER_MODE_LVDS		2
#define HMC7044_DRIVER_MODE_CMOS		3

/*
 * adi,driver-impedance
 */
#define HMC7044_DRIVER_IMPEDANCE_DISABLE	0
#define HMC7044_DRIVER_IMPEDANCE_100_OHM	1
#define HMC7044_DRIVER_IMPEDANCE_50_OHM		3

/*
 * adi,output-mux-mode
 */

#define HMC7044_OUTPUT_MUX_CH_DIV		0
#define HMC7044_OUTPUT_MUX_ANALOG_DELAY		1
#define HMC7044_OUTPUT_MUX_GROUP_PAIR		3
#define HMC7044_OUTPUT_MUX_VCO_CLOCK		4

/*
 * adi,sync-pin-mode
 */

#define HMC7044_SYNC_PIN_DISABLED		        0
#define HMC7044_SYNC_PIN_SYNC   		        1
#define HMC7044_SYNC_PIN_PULSE_GEN_REQ	        2
#define HMC7044_SYNC_PIN_SYNC_THEN_PULSE_GEN	3

/*
 * adi,clkinX-buffer-mode
 */
#define HMC7044_CLKIN_DISABLED			0
#define HMC7044_CLKIN_100OHM_TERM		3
#define HMC7044_CLKIN_AC_COUPLING		5
#define HMC7044_CLKIN_AC_100OHM_TERM		7
#define HMC7044_CLKIN_LVPECL			9
#define HMC7044_CLKIN_LVPECL_100OHM_TERM	11
#define HMC7044_CLKIN_HIGH_Z			17

#endif /* _DT_BINDINGS_IIO_FREQUENCY_HMC7044_H_ */

/include/ "system-conf.dtsi"
/ {
	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		reg_ssd_vqmmc: regulator_ssd_vqmmc {
			compatible = "regulator-gpio";
			regulator-name = "ssd_vqmmc";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			regulator-type = "voltage";
			gpios = <&gpio 43 1>;
			gpios-states = <1>;
			states = <3300000 1
				1800000 0>;
		};
	};

	fmc {
		/* 
		 * By default, FMC Connector power is disabled. 
		 * 1.8V compatibility is checked while booting by reading 
		 * FMC Module's EEPROM to enable correponding FMC connector power.
		 */
		fmc-vadj-millivolt = <1800>;
		fmc-prsnt-m2c = <&gpio3  0 GPIO_ACTIVE_HIGH>;
		fmc-vcc-adj   = <&gpio3  5 GPIO_ACTIVE_HIGH>;
		fmc-vcc-12v   = <&gpio3  3 GPIO_ACTIVE_HIGH>;
		fmc-vcc-3v3   = <&gpio3  4 GPIO_ACTIVE_HIGH>;
		fmc-pg-c2m    = <&gpio3 12 GPIO_ACTIVE_HIGH>;
	};

	fmc_plus {
		/* 
		 * By default, FMC+ Connector power is disabled. 
		 * 1.8V compatibility is checked while booting by reading 
		 * FMC+ Module's EEPROM to enable correponding FMC+ connector power.
		 */
		vadj-millivolt = <1800>;
		prsnt-m2c = <&gpio3  1 GPIO_ACTIVE_HIGH>;
		vcc-adj   = <&gpio3  6 GPIO_ACTIVE_HIGH>;
		vcc-12v   = <&gpio3  8 GPIO_ACTIVE_HIGH>;
		vcc-3v3   = <&gpio3  9 GPIO_ACTIVE_HIGH>;
		pg-c2m    = <&gpio3 13 GPIO_ACTIVE_HIGH>;
	};

        retimer_clk: retimer_clk {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <148500000>;
        };

     	cpu_opp_table {

		opp00 {
			opp-hz = /bits/ 64 <329166666>;
		};
		opp01 {
                        opp-hz = /bits/ 64 <438888888>;
                };
		opp02 {
                        opp-hz = /bits/ 64 <658333333>;
                };
		opp03 {
                        opp-hz = /bits/ 64 <1316666666>;
                };
	};
	amba_pl: amba_pl@0 {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges ;
                //bom_rev {
                //        pl-aw17 = <&board_config_axi_gpio_4 0 0 0>;
                //        pl-bb16 = <&board_config_axi_gpio_4 1 0 0>;
                //        pl-ba16 = <&board_config_axi_gpio_4 2 0 0>;
                //        pl-ba17 = <&board_config_axi_gpio_4 3 0 0>;
                //        pl-ay17 = <&board_config_axi_gpio_4 4 0 0>;
                //};
	};

  //M_AXI0: memory@a0000000 {
  //    device_type = "memory";
  //    reg = < 0x0 0x2000000 >;
  //};
};

&can0 {
	status = "okay";
	pwdn-gpio = <&gpio 80 0>;
};

&spi0 {
  status = "okay";
  spidev@0 {
    compatible = "brand,spidev";
    spi-max-frequency = <10000000>;
    reg = <0>;
  };
};

&spi1 {
  status = "okay";
  //spidev@0x00 {
  //  compatible = "spidev";
  //  spi-max-frequency = <10000000>;
  //  reg = <0>;
  //};
	//hmc7044: hmc7044@0 {
	//	compatible = "adi,hmc7044";
	//	reg = <0>;
	//	spi-max-frequency = <10000000>;

	//	adi,pll1-clkin-frequencies = <100000000 0 0 0>;

	//	adi,pll1-loop-bandwidth = <200>;

	//	adi,vcxo-frequency = <100000000>;

	//	adi,pll2-output-frequency = <3000000000>;

	//	adi,sysref-timer-divider = <1024>;
	//	adi,pulse-generator-mode = <0>;

	//	adi,clkin0-buffer-mode = <0x15>;
	//	adi,oscin-buffer-mode = <0x15>;

	//	adi,gpi-controls = <0x00 0x00 0x00 0x00>;
	//	adi,gpo-controls = <0x1f 0x2b 0x00 0x00>;

	//	clock-output-names = "hmc7044_out0", "hmc7044_out1", "hmc7044_out2",
	//			     "hmc7044_out3", "hmc7044_out4", "hmc7044_out5",
	//			     "hmc7044_out6", "hmc7044_out7", "hmc7044_out8",
	//			     "hmc7044_out9", "hmc7044_out10", "hmc7044_out11",
	//			     "hmc7044_out12", "hmc7044_out13";

	//	hmc7044_c2: channel@2 {
	//		reg = <2>;
	//		adi,extended-name = "DAC_CLK";
	//		adi,divider = <1>;
	//		adi,driver-mode = <1>;
	//	};
	//	hmc7044_c3: channel@3 {
	//		reg = <3>;
	//		adi,extended-name = "DAC_SYSREF";
	//		adi,divider = <512>;
	//		adi,driver-mode = <1>;
	//	};
	//	hmc7044_c12: channel@12 {
	//		reg = <12>;
	//		adi,extended-name = "FPGA_CLK";
	//		adi,divider = <8>;
	//		adi,driver-mode = <2>;
	//	};
	//	hmc7044_c13: channel@13 {
	//		reg = <13>;
	//		adi,extended-name = "FPGA_SYSREF";
	//		adi,divider = <512>;
	//		adi,driver-mode = <2>;
	//	};
	//};
/*
 *	VCXO = 122.880 MHz, XO = 122.880 MHz (AD9081-FMC-EBZ)
 */
	hmc7044: hmc7044@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "adi,hmc7044";
		reg = <0>;
		spi-max-frequency = <1000000>;

		jesd204-device;
		#jesd204-cells = <2>;
		jesd204-sysref-provider;

		adi,jesd204-max-sysref-frequency-hz = <2000000>; /* 2 MHz */

		/*
		* There are different versions of the AD9081-FMCA-EBZ & AD9082-FMCA-EBZ
		* VCXO = 122.880 MHz, XO = 122.880MHz (AD9081-FMC-EBZ & AD9082-FMC-EBZ)
		* VCXO = 100.000 MHz, XO = 100.000MHz (AD9081-FMC-EBZ-A2 & AD9082-FMC-EBZ-A2)
		* To determine which board is which, read the freqency printed on the VCXO
		* or use the fru-dump utility:
		* #fru-dump -b /sys/bus/i2c/devices/15-0050/eeprom
		*/

		//adi,pll1-clkin-frequencies = <122880000 30720000 0 0>;
		//adi,vcxo-frequency = <122880000>;

		adi,pll1-clkin-frequencies = <100000000 10000000 0 0>;
		adi,vcxo-frequency = <100000000>;

		adi,pll1-loop-bandwidth-hz = <200>;

		adi,pll2-output-frequency = <3000000000>;

		adi,sysref-timer-divider = <1024>;
		adi,pulse-generator-mode = <0>;

		adi,clkin0-buffer-mode  = <0x07>;
		adi,clkin1-buffer-mode  = <0x07>;
		adi,oscin-buffer-mode = <0x15>;

		adi,gpi-controls = <0x00 0x00 0x00 0x00>;
		adi,gpo-controls = <0x37 0x33 0x00 0x00>;

		clock-output-names =
				"hmc7044_out0", "hmc7044_out1", "hmc7044_out2",
				"hmc7044_out3", "hmc7044_out4", "hmc7044_out5",
				"hmc7044_out6", "hmc7044_out7", "hmc7044_out8",
				"hmc7044_out9", "hmc7044_out10", "hmc7044_out11",
				"hmc7044_out12", "hmc7044_out13";

		hmc7044_c0: channel@0 {
			reg = <0>;
			adi,extended-name = "CORE_CLK_RX";
			adi,divider = <12>;	// 250
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS

		};
		hmc7044_c2: channel@2 {
			reg = <2>;
			adi,extended-name = "DEV_REFCLK";
			adi,divider = <12>;	// 250
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS
		};
		hmc7044_c3: channel@3 {
			reg = <3>;
			adi,extended-name = "DEV_SYSREF";
			adi,divider = <1536>;	// 1.953125
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS
			adi,jesd204-sysref-chan;
		};

		hmc7044_c6: channel@6 {
			reg = <6>;
			adi,extended-name = "CORE_CLK_TX";
			adi,divider = <12>;	// 250
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS
		};

		hmc7044_c8: channel@8 {
			reg = <8>;
			adi,extended-name = "FPGA_REFCLK1";
			adi,divider = <12>;	// 250
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS
		};
		hmc7044_c10: channel@10 {
			reg = <10>;
			adi,extended-name = "CORE_CLK_RX_ALT";
			adi,divider = <12>;	// 250
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS
		};
		hmc7044_c12: channel@12 {
			reg = <12>;
			adi,extended-name = "FPGA_REFCLK2";
			adi,divider = <12>;	// 250
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS
		};
		hmc7044_c13: channel@13 {
			reg = <13>;
			adi,extended-name = "FPGA_SYSREF";
			adi,divider = <1536>;	// 1.953125
			adi,driver-mode = <HMC7044_DRIVER_MODE_LVDS>;	// LVDS
			adi,jesd204-sysref-chan;
		};
	};
};



&gem0 {
	phy-mode = "rgmii-id";
	local-mac-address = [00 01 02 03 04 05];
	status = "okay";
	xlnx,ptp-enet-clock = <0x0>;
	phy-handle = <&phy0>;
	phy-reset-gpio = <&gpio 42 1>;
	phy-reset-active-low;
	phy-reset-duration = <20>;
	phy0: phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
		ti,rxctrl-strap-worka;
		at803x,led-act-blind-workaround;
		at803x,eee-disabled;
		at803x,vddio-1p8v;
		interrupt-parent = <&gpio>;
		interrupts = <12 8>;
	};
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";
	
	pmic0: da9062@58 {
		compatible = "dlg,da9062";
		reg = <0x58>;
		interrupt-parent = <&gpio>;
		interrupts = <2 8>;
		interrupt-controller;
		rtc {
			compatible = "dlg,da9062-rtc";
		};
	};

  fusb302: typec-portc@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		fcs,int_n = <&gpio 78 8>;
		fcs,cc = <&gpio 79 0>;
		fcs,power_en = <&gpio 25 0>;
		status = "okay";
       };
	/* Programmable clock (for logic) */
	si5341: clock-generator@76 {
		reg = <0x76>;
		compatible = "silabs,si5341";
		#clock-cells = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&ref48>;
		clock-names = "xtal";
		clk0 {
			reg = <0>;
			always-on;
		};
		clk1 {
			reg = <1>;
			always-on;
		};
		clk2 {
			reg = <2>;
			always-on;
		};
		clk3 {
			reg = <3>;
			always-on;
		};
		clk4 {
			reg = <4>;
			always-on;
		};
		clk5 {
			reg = <5>;
			always-on;
		};
		clk6 {
			reg = <6>;
			always-on;
		};
		clk7 {
			reg = <7>;
			always-on;
		};
		clk9 {
			reg = <9>;
			always-on;
		};
	};

		i2c_mux: msd9546@70 {
		compatible = "pi4,msd9546";
		reg = <0x70>;
		status = "okay";
                #address-cells = <1>;
                #size-cells = <0>;

                i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;

                        gpio3: gpio@23 {
                                compatible = "ti,tca9535";
                                reg = <0x23>; 
                                #gpio-cells = <2>;
                                gpio-controller;
                        };
                };

                i2c@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                };

                i2c@2 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <2>;

                        gpio1: gpio@20 {
		                compatible = "ti,tca6416";
                                reg = <0x20>; 
                                #gpio-cells = <2>;
                                gpio-controller;
                        };

                        gpio2: gpio@21 {
               			compatible = "ti,tca6416";
                                reg = <0x21>; 
                                #gpio-cells = <2>;
                                gpio-controller;
			};
                };

                i2c@3 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <3>;
                };

       };

};

&usb0 {
	status = "okay";
	xlnx,usb-reset = <0x2faf080>;
};

&sdhci0{
	bus-width = <8>;
};

&sdhci1 {
	clock-frequency = <200000000>;
	status = "okay";
	bus-width = <4>;
	xlnx,mio_bank = <0x1>;
	xlnx,has-cd = <0x1>;
	vqmmc-supply = <&reg_ssd_vqmmc>;
};

&rtc {
      status = "disabled";
};

&amba_pl {
        ref48: ref48M {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <48000000>;
        };

        xlnk {
                compatible = "xlnx,xlnk-1.0";
        };

        //vcu_apm: apm@0xa0140000 {
        //        #address-cells = <0x1>;
        //        #size-cells = <0x1>;
        //        compatible = "generic-uio";
        //        reg = <0x0 0xa0140000 0x0 0x10000>;
        //        reg-names = "generic";
        //};
        casper_io: casper_io@a0000000 {
                #address-cells = <0x1>;
                #size-cells = <0x1>;
                compatible = "generic-uio";
                reg = <0x0 0xa0000000 0x0 0x2000000>;
                reg-names = "generic";
        };

};

&fclk0 {
       status = "okay";
};

&fclk1 {
       status = "okay";
};

&fclk2 {
       status = "okay";
};

&fclk3 {
       status = "okay";
};
